<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Intercom Customers Invite</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="customersApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container" ng-controller="CustomersCtrl as ctrl">
  <div class="header">
    <div class="pull-right">
      <span class="file-input btn btn-primary btn-file">
        Open File&hellip; <input type="file" ic-file-select>
      </span>
    </div>
    <h3 class="text-header">Invite your customers!</h3>
  </div>

  <div class="ic-container" ng-cloak>
    <div class="alert alert-danger" role="alert"
         ng-repeat="error in ctrl.errors track by $index"
         ic-hide-after="3000">
      {{error}}
    </div>

    <div class="panel panel-default" ng-if="ctrl.customers.length > 0">
      <div class="panel-body">
        <div class="ic-map-container pull-left">
          <ui-gmap-google-map center="ctrl.map.center" zoom="ctrl.map.zoom">
            <ui-gmap-marker
              idKey="'office'"
              coords="ctrl.officeLocation"
              options="{icon: ctrl.greenMarker}">
            </ui-gmap-marker>
            <ui-gmap-circle center='ctrl.officeLocation'
                            radius='ctrl.filterDistance * 1000'
                            fill='{color: "green", opacity: 0.2}'
                            stroke='{color: "black", weight: 1, opacity: 0.75}'>
            </ui-gmap-circle>
            <ui-gmap-markers models="ctrl.customers"
                             modelsbyref="isTrue"
                             coords="'location'"
                             icon="'icon'">
            </ui-gmap-markers>
          </ui-gmap-google-map>
          <slider ng-model="ctrl.filterDistance"
                  min="20"
                  max="400" scale="logarithmic"
                  value="ctrl.filterDistance"></slider>
        </div>
        <div class="ic-customers-list pull-right">
          <div class="list-group">
            <a href="#" type="button" class="list-group-item"
               ng-repeat="customer in ctrl.customers | filter: ctrl.distanceLessThen(ctrl.filterDistance) | orderBy: 'id'"
               ng-mouseover="customer.icon = ctrl.blueMarker"
               ng-mouseleave="customer.icon = ctrl.defaultMarker"
               ng-click="ctrl.centerOnCustomer(customer)">
              <span class="badge">{{::customer.distance}} km</span>
              {{::customer.id}}. {{::customer.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="bower_components/angular-bootstrap-slider/slider.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/customers.js"></script>
<script src="scripts/services/error-storage.js"></script>
<script src="scripts/decorators/exception-handler.js"></script>
<script src="scripts/services/file-reader.js"></script>
<script src="scripts/services/text-parser.js"></script>
<script src="scripts/services/distance.js"></script>
<script src="scripts/services/customers.js"></script>
<script src="scripts/directives/file-select.js"></script>
<script src="scripts/directives/hide-after.js"></script>
<!-- endbuild -->
</body>
</html>
